/%backup%~
/.emacs.desktop
/.emacs.desktop.lock
/RFC/
/ac-comphist.dat
/auto-save-list
/backups/
/elpa/
/games/
/history
/ido.last
/recentf
/session.*
/tramp
/url
/jabber-avatar-cache/
/eshell/
/irony/
/places
/semanticdb/
